table{
    color: #fff;
    text-align: center;
    border-collapse: collapse;
    font: normal 3em Arial, Helvetica, sans-serif;
}

tr{
    height: 16.02vh;
    background-color: #4e494d;
}

td{
    width: 25vw;
    border: 1px solid dimgray;
}

#inputBox{
    background-color: #4e494d;
    text-align: right;
    width: 100%;
    font-size: 2em;
    color: #fff;
    border: 0px;
}

.digitButton{
    background-color: gray;
}

.operationButton{
    background-color: darkorange;
}

.ACButton{
    background-color: #4e494d;
}

